@import "tailwindcss";

@layer base {
  .font-montserrat {
    font-family: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  }
}

@theme {
  --color-baby-blue: #edf1f6;
  --color-navy-blue: #212141;
  --color-yellow: #f4ce46;
}
